/*added a note for an example of how to add to github through the browser*/

/*copy parent element and create a mobile layout / create one column*/
/*add children with grid area names here*/


/*Add a media query / breakpoint for second grid*/

/*.site{
    display: grid;
    grid-template-columns:  2fr 1fr 1fr;
    grid-template-areas: 
        "title title title"
        "main masthead masthead"
        "main sidebar sidebar"
        "footer footer footer"
}

.masthead{
    grid-area: masthead;
}

.page-title{
    grid-area: title;
}

.main-content{
    grid-area: main;
}

.sidebar{
    grid-area: sidebar;
}

.footer-content{
    grid-area: footer;
}
*/