header{
	height: 300px;
	margin-top: 50px;
	margin-bottom: 10px;
	background-color:#FFEBE7;
	

}

aside{
	height: 400px;
	width: 29%;
	margin-right: 1%;
	float: left;
	background-color:#F7A9A8 ;
	
}

article{
	height: 400px;
	width: 70%;
	float: right;
	background-color:#EBCFB2;
	margin-bottom: 10px;
}




footer{
	height: 150px;
	margin-top: 10px;
	background-color:#FFEBE7;
	clear: both;
	}
	
	*{
		box-sizing: border-box;
	}